<!DOCTYPE html>
<html lang="en">
<body>
<form id="task-form" method="post" action="/add-task">
    <div class="form-info">
        <label>Task Title
            <input type="text" name="title">
        </label>
    </div>
    <div class="form-text">
        <label>Task Text
            <textarea name="text"></textarea>
        </label>
    </div>
    <div class="form-button">
        <input type="submit" value="Submit">
    </div>
</form>
</body>
</html>
