<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>d</title>
</head>
<body>
<!--<h1><%= title %></h1>-->

<% if (tasks && tasks.length > 0) { %>
    <ul>
        <% tasks.forEach(task => { %>
            <li><%= task.title %></li>
            <li><%= task.text %></li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No tasks available.</p>
<% } %>

</body>
</html>
